<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Memex Data Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Memex Data Browser</a>
            </div>
            <ul class="nav navbar-nav pull-right">
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="container">
            <div class="row clearfix">
                <div id="content" class="col-xs-12">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

